/* || GENERAL || */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { font-size: 62.5% }

:root {
    --header-bg: #009;
    --main-bg: #001;
    --text-bg: rgba(255, 255, 255, .95);
    --header-color: #fff;
    --subtitle-color: #444;
    --text-color: #000;
    --link-color: #333;
}

/* || MAIN || */

body {
    background-color: var(--main-bg);
    color: var(--text-color);
}

.content {
    font-family: sans-serif;
    background-color: var(--text-bg);
    margin: 5% 15%;
    padding: 5% 5%
}

/* TEXT FORMAT */

.italic { font-style: italic }
.underlined { text-decoration: underline }
.text-link {
    color: var(--text-color);
    font-style: italic;
}

/* HEADER */

.header {
    background-color: var(--header-bg);
    text-align: center;
    font-size: 3rem;
    color: var(--header-color);
    padding: 20px;
}

/* INDEX */

.title {
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 20px;
}

.text > p {
    text-align: justify;
    font-size: 2.1rem;
    margin: 10px auto;
}

.links {
    padding: 10px 0;
}

.links > p {
    font-size: 2.3rem;
    font-weight: bold;
}

.links > ul {
    font-size: 2.1rem;
    margin-left: 25px;
}

.link-title {
    color: var(--link-color);
    text-decoration: none;
}

/* TITLE HOME */

.title-name {
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 20px;
}

.sinopsys {
    text-align: justify;
    font-size: 2.1rem;
    margin: 10px auto;
}

.sinopsys > summary { text-decoration: underline }

.genres {
    text-align: center;
    font-size: 2.1rem;
    margin: 10px auto;
}

.chapters {
    margin: 30px 0;
}

.chapters > p{
    font-size: 2.3rem;
    font-weight: bold;
}

.chapters > ul {
    font-size: 2.1rem;
    margin-left: 25px;
}

.chapter-link {
    color: var(--link-color);
    text-decoration: none;
}

.release-date { color: var(--subtitle-color) }

/* CHAPTER */

.chapter {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2.7rem;
    margin-bottom: 20px;
}

.chapter-name {
    color: var(--subtitle-color);
    text-align: center;
    text-decoration: underline;
    font-size: 2.3rem;
}

.chapter-text {
    text-align: justify;
    font-size: 2.1rem;
    margin: 50px auto;
}

.author-message {
    border-top: 3px solid var(--text-color);
    text-align: justify;
    font-size: 2.1rem;
    margin: 50px auto;
    padding: 20px 0;
}

.author-message > h2 {
    text-align: center;
    font-size: 3rem;
}

.author-message > p { margin-top: 20px }

@media (min-width: 320px) and (max-width: 599px) {

    .header { font-size: 2rem }

    .content {
        margin: 50px 0;
        padding: 50px 15px;
    }

    .title, .title-name, .chapter, .author-message > h2 { font-size: 2.5rem }

    .text > p, .sinopsys > p, .chapter-text, .author-message > p {
        font-size: 2rem;
        text-align: left;
        line-height: 28px;
    }

}

@media (min-width: 600px) and (max-width: 767px) {

    .header { font-size: 2.5rem }

    .content { margin: 50px 20px }

    .title, .title-name, .chapter, .author-message > h2 { font-size: 2.7rem }

    .text > p, .sinopsys > p, .chapter-text, .author-message > p {
        font-size: 2rem;
        line-height: 25px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .header { font-size: 2.5rem }

    .content { margin: 50px }

    .text > p, .sinopsys > p, .chapter-text, .author-message > p {
        line-height: 25px;
    }

}
